# maven ignore
target/
*.war
*.ear
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath


# idea ignore
.idea/
*.ipr
*.iml
*.iws


# logs #
logs

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# system ignore
.DS_Store
Thumbs.db
Servers
.metadata
upload
#/src/main/java/coinConfig/coins.properties
/src/main/resources/app.properties
/src/main/resources/log4j.properties
/src/main/resources/jdbc.properties
/src/main/resources/coins.properties
src/main/java/coinConfig/
